@font-face{
    src: url(fonts/Caslon_Black/@font-face/86853abd1b2dd04f0fcf8d035fc1b489.woff);
    font-family: caslon_Black;
}

@font-face{
    src: url(fonts/Avenir/AvenirNextLTPro-Regular.woff);
    font-family: avenir;
}

 @font-face{
 src: url(fonts/Avenir/AvenirNextLTPro-MediumCnIt.woff);
 font-family: avenirMediumIt;

 }   

 @font-face{
     src: url(fonts/Avenir/AvenirNextLTPro-Demi.woff);
     font-family: avenirDemi;
 }


 .Titel {
    
    padding: 0%;
    margin-left: 3vw;
    line-height: 85%;
    position: fixed;
    top: 70vh;
    font-family: 'avenir';
    font-size: 10vh;
    color: rgb(170, 158, 163);
    animation: pulse 10s infinite;
    z-index: 50;
}

@keyframes pulse {
    0% {
        color: rgb(170, 158, 163);
      }
      20% {
        color: rgb(201, 172, 181);
    }
    40% {
        color: rgb(190, 175, 197);
    }
    60% {
        color: rgb(178, 175, 197);
    }
    80% {
        color: rgb(175, 197, 194);
    }
    100% {
        color: rgb(170, 158, 163);
    }

}


.Instalink{
    z-index: 50;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0vh;
    background-color: rgb(228, 143, 128);
    box-sizing: border-box;
    border-radius: 100px;
    font-family: 'avenirDemi';
    letter-spacing: 0.05em;
    font-variant: small-caps;
    font-size: 3vh;
    position: relative;
    left:12vh;
    top:20vh;
    height: 1;
    /* -webkit-animation: vibrate 3s linear infinite both; */
    animation: vibrate-1 3s linear infinite both;
    
    box-shadow: 1px 32px 18px -9px rgba(0,1,191,0.36);

}

 
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-10px, 10px);
              transform: translate(-10px, 10px);
    }
    40% {
      -webkit-transform: translate(-10px, -10px);
              transform: translate(-10px, -10px);
    }
    60% {
      -webkit-transform: translate(10px, 10px);
              transform: translate(10px, 10px);
    }
    80% {
      -webkit-transform: translate(10px, -10px);
              transform: translate(10px, -10px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }





html, body {
    position: relative;
    height: 100%;
}

body {
    background: pink;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14vw;
    margin: 0;
    padding: 0;
}


.swiper-container {
    position: absolute;
    overflow: hidden;
    list-style: none;
    padding: 0;
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}

#links{
background: url(./Bilder/DSC_1067br.jpg);
vertical-align: middle;
/* top:0vw; */
left:0vw;
}

#rechts{
background: url(./Bilder/DSC_1067br.jpg);
vertical-align: middle;
/* top:0vw; */
left:50vw;
}

.swiper-slide {
    background-position: absolute;
    background-size: 78%;
    background-repeat: no-repeat;
    object-position: 100% 50%;

    
    flex-shrink: 0;
    font-family: caslon_Black;
    height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 10vw;
   

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.swiper-slide img{
    position: absolute;
    object-fit: cover;
    object-position: 50% 100%;
}

#CoverRechts{
    position: absolute;
    object-fit: contain;
    object-position: 0% 50%;
}

#CoverLinks{
    position: absolute;
    object-fit: contain;
    object-position: 100% 50%;
   
}

