@import './Fonts/Radikal/stylesheet.css';
@font-face{
    src: url(fonts/Caslon_Medium/@font-face/c8283cb8a23ddb3351d5aab557ebc13f.woff);
    font-family: caslon_Medium;}
@font-face{
    src: url(fonts/Caslon_Black/@font-face/86853abd1b2dd04f0fcf8d035fc1b489.woff);
    font-family: caslon_Black;
}
@font-face{
    src: url(fonts/Caslon_Bold/@font-face/63de8e2780ba85f7b389f23a443e5ec2.woff);
    font-family: caslon_Bold;
}
@font-face{
    src: url(./Fonts/Avenir/AvenirNextLTPro-Regular.woff);
    font-family: avenir;
}
#Cover1{
    position: absolute;
    display: none;
    z-index: 20;
    /* top:2vh;
    left: -20vw; */
    padding: 0%;
    margin: 0%;
}

/* #Cover2{

    position: absolute;
    display: none;
    z-index: 100;
    top:20vh;
    left: 40vw;
    transform: rotateX(360deg) 60s;
} */


.Titel {
    
    padding: 0%;
    margin-left: 3vw;
    line-height: 85%;
    position: fixed;
    top: 70vh;
    font-family: 'avenir';
    font-size: 10vh;
    color: rgb(170, 158, 163);
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        color: rgb(197, 160, 177);
      }
      20% {
        color: rgb(194, 172, 201);
    }
    40% {
        color: rgb(175, 180, 211);
    }
    60% {
        color: rgb(164, 190, 152);
    }
    70% {
        color: rgb(204, 206, 165);
    }
    80% {
        color: rgb(190, 158, 158);
    }
    100% {
        color: rgb(161, 136, 146);
      }

}
body {
    margin: 0; 
    overflow: hidden;
}


    

#muschel
{
    position: absolute;
    z-index: 4;
    padding: 0%;
    margin: 0%;
    width: 20vw;
    height: 20vw;
    animation: pulselogo 10s infinite;
} 
@keyframes pulselogo{
        0% {
            fill: rgb(156, 189, 172);
           }
        20%{
            fill: rgb(170, 190, 207);
           }
        40%{
            fill: rgb(183, 172, 184)
           }
        60%{
            fill: rgb(163, 148, 151)
           }
        80%{
            fill: rgb(172, 157, 151)

        }
        100% {
            fill: rgb(153, 177, 165);
        }
        
    }

#shelllayer:hover #shell{
   
  filter: blur(20px);
  transition: 5s;
}

#shelllayer{
    height: 20%; 
    width: 20%; 
    background-color: transparent; 
    z-index: 86; 
    position: absolute;
}


.circle {
  display: table;
  opacity:0;
  position: absolute;
  width: 11vw;
  height: 11vw;
  border-radius: 11vw;
  background-color: rgb(142, 180, 161);
  z-index: 90;
  transition: all 0.5s ease;
  /* filter: blur(50px); */
  /* animation: pulseC1 10s infinite; */
}

.circleSelected{
    transform: scale(3);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


    
/* #about{
    top: 50vh;
    right: 60vw;
}
  
#kontakt{
    top: 50vh;
    right: 50vw;
}
#magazin{
    top: 50vh;
    right: 40vw;
} */
.circletext{
    font-size: 2.1vw;
    color: rgb(193, 174, 209);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'avenir';
 
}

@keyframes fadeIN{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    

}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes pulseC1 {
    0% {
        background-color: rgb(250, 129, 125);
      }
    10% {
        background-color: rgb(250, 192, 125);
    }
    20%{
        background-color: rgb(242, 250, 125);
    }
    30%{
        background-color: rgb(181, 250, 125);
    }
    40% {
        background-color: rgb(132, 219, 125);
    }
    50% {
        background-color: rgb(125, 208, 219);
    }
    60% {
        background-color: rgb(125, 147, 219);
    }
    70% {
        background-color: rgb(219, 125, 219);
    }
    80% {
        background-color: rgb(219, 125, 169);
    }
    90% {
        background-color: rgb(219, 125, 125);
    }
    100% {
        background-color: rgb(250, 129, 125);
    }

}



.textfield{
    pointer-events: none;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    font-family: avenir;
    color: tomato;
    position: absolute;
    top: 0vh;
    left: 10vw;
    width: 80vw;
    height: 800vh;
    opacity: 1;
    z-index: 85;
    transition: opacity 1s ease;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.textfieldShow{
    opacity: 0.5;
    transition: opacity 1s ease;
}

#crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: none;
    display : none;
  }

  @keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: 0;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -6000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }







 